header {
  max-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  z-index: 1;
  background-color: $nav-background-color;

  h1 {
    height: $nav-header-height;
    box-sizing: border-box;
    background-color: #358ed6;
    color: #fff;
    margin: 0;
    font-size: 1.7rem;
    line-height: 0.8;
    letter-spacing: 0;
    font-weight: 600;
    text-indent: 0;
    @include display-flex();
    @include flex-direction(row);
    @include align-items(center);
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);

    img {
      height: 26px;
      margin: 0 18px;
    }
  }

  .open-nav {
    width: 25px;
    height: 25px;
    margin: 0 0 0 18px;
    // background-image: url($base-url + "/images/menu.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
    position: relative;
    border-radius: 2px;
    cursor: pointer;

    &:focus {
      outline: none;
      background-color: rgba(0, 0, 0, 0.05);
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  @media (min-width: $mobile-break) {
    background-color: transparent;
    width: $nav-width;
    right: auto;
    bottom: auto;

    .copyright {
      display: block;
    }

    .open-nav {
      display: none;
    }

    h1 {
      box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.1);
    }
  }
}

.sidebar {
  padding: 15px 15px 0 15px;
  white-space: nowrap;
  overflow-y: auto;

  section {
    padding: 7px 0;
  }

  h6 {
    padding: 0;
    margin: 0 0 5px 0;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #888;
  }

  ul {
    padding: 0 0 0 10px;
    margin: 0;
    list-style: none;
  }

  ul li a span {
    display: inline-block;
  }

  a {
    color: #777;
    text-decoration: none;
    font-size: 0.85rem;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1px 0;

    &:active {
      color: #2196f3;
      text-decoration: none;
    }
  }
}

.copyright {
  text-align: center;
  font-size: 0.6em;
  margin: 30px 0 0 0;
  display: none;
}
